---
title: Home
layout: default
---

<!-- ABOUT section -->

<h2 class="post-title">
    <a href="{{ site.baseurl }}">
        About
    </a>
</h2>

<p>
    I have a D.Phil. (Ph.D.) in Machine Learning in the <a href="http://www.robots.ox.ac.uk/~parg/">Machine Learning Research Group</a>
    at the <a href="http://www.ox.ac.uk/">University of Oxford</a>, supervised by <a href="http://www.robots.ox.ac.uk/~mosb/">Michael A Osborne</a> and <a href="http://www.robots.ox.ac.uk/~sjrob/">Stephan Roberts</a>.<br />
    I was previously funded through the Donal Morphy Graduate Scholarship at <a href="https://www.queens.ox.ac.uk/">The Queens College</a>.
</p>
<p>
    I have a of range of interests within Machine Learning and Artificial Intelligence focusing primarily in Bayesian Machine Learning, Kernel Methods, Deep Learning, Algorithmic Fairness and Quantum Algorithms for Machine Learning Algorithms.
</p>

<p>
    I have applied machine learning in a range of industrial contexts as a Principal Researcher (Director) at <a href="https://www.qera.com/">Qera</a> and previously Head of Machine Learning at <a href="https://www.disperse.io/">Disperse</a>.
</p>


<!-- NEWS section -->

<h3>
    News
</h3>

<ul>
    <li><b style="color:#002147";>Month Year</b>: Some news item...
</ul>


<h3>
    Journal Publications, Conference Proceedings & Workshops
</h3>

<ul>
    <li><b style="color:#002147";>2019</b>: J. K. Fitzsimons, A. Al Ali, M. A. Osborne and S. J. Roberts, <a href="https://www.mdpi.com/1099-4300/21/8/741">A General Framework for Fair Regression</a>, Entropy 2019.</li>
    <li><b style="color:#002147";>2019</b>: Z. Zhao, J. K. Fitzsimons, M. A. Osborne, S. J. Roberts and J. F. Fitzsimons, <a href="https://journals.aps.org/pra/abstract/10.1103/PhysRevA.99.052331">Quantum assisted Gaussian process regression</a>, QMQC 2016 & Physical Review A 2019.</li>
    <li><b style="color:#002147";>2019</b>: Z. Zhao, J. K. Fitzsimons, M. A. Osborne, S. J. Roberts and J. F. Fitzsimons, <a href="https://journals.aps.org/pra/abstract/10.1103/PhysRevA.100.012304">Quantum algorithms for training Gaussian Processes</a>, Physical Review A 2019.</li>
    <li><b style="color:#002147";>2018</b>: J. K. Fitzsimons, M. A. Osborne and S. J. Roberts, <a href="https://arxiv.org/abs/1811.09960">Intersectionality: Multiple Group Fairness in Expectation Constraint</a>, Workshop on Ethical, Social and Governance Issues in AI, Neural Information Processing Systems, NeurIPS (formerly NIPS) 2018.</li>
    <li><b style="color:#002147";>2018</b>: J. K. Fitzsimons, M. A. Osborne, S. J. Roberts and J. F. Fitzsimons, <a href="https://arxiv.org/abs/1608.00117">Improved stochastic trace estimation using mutually unbiased bases</a>, Uncertainty in Artificial Intelligence, UAI 2018.</li>
    <li><b style="color:#002147";>2017</b>: J. Fitzsimons, D. Granziol, K. Cutajar, M. Osborne, M. Filippone, S. Roberts, <a href="https://arxiv.org/abs/1608.00117">Entropic Trace Estimation of Log Determinants</a>, European Conf. of Machine Learning, ECML 2017.</li>
    <li><b style="color:#002147";>2019</b>: J. Fitzsimons, K. Cutajar, M. Osborne, S. Roberts and M. Filippone, <a href="https://arxiv.org/abs/1704.01445">Bayesian Inference of Log Determinants</a>, Uncertainty in Artificial Intelligence, UAI 2017.</li>
    <li><b style="color:#002147";>2018</b>: Z. Zhao, V. Dunjko, J. K. Fitzsimons, P. Rebentrost, J. F. Fitzsimons, <a href="https://arxiv.org/abs/1804.00281">A note on state preparation for quantum machine learning</a>, ARXIV preprint.</li>
    <li><b style="color:#002147";>2016</b>: . K. Fitzsimons and K Dawson-Howe, <a href="https://www.worldscientific.com/doi/abs/10.1142/S0218001416550028">Identifying Abandoned, Moved and Removed Objects in Automated Surveillance Systems</a>, IJPRAI 2015.</li>
    <li><b style="color:#002147";>2014</b>: J. K. Fitzsimons and Thomas T. Lu. <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/9217/92171O/Markov-random-fields-for-static-foreground-classification-in-surveillance-systems/10.1117/12.2062508.short">Markov random fields for static foreground classification in surveillance systems</a>. SPIE Optical Engineering and Applications. International Society for Optics and Photonics, San Diego, California, 2014.</li>
</ul>


<!-- CONTACT section -->

<h3>
  Contact
</h3>

<p>
    <a href="mailto:jackfitzsimons@gmail.com"> jackfitzsimons@gmail.com </a>
</p>

<!--p>
    <a href="https://www.google.co.uk/maps/place/Eagle+House,+Walton+Well+Rd,+Oxford+OX2+6ED/@51.7620067,-1.2720287,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c41fedb8271b:0x60584c576951a6bb!8m2!3d51.7620175!4d-1.2698484"> Eagle House</a><br />
    Walton Well Road<br />
    OX2 6ED<br />
    Oxford<br />
    United Kingdom<br />
</p-->



<!-- ABOUT THIS WEBSITE section -->

<h3>
  About this website
</h3>

<p>
    This website was built using <a href="https://jekyllrb.com/">jekyll</a>, <a href="https://github.com/inukshuk/jekyll-scholar">jekyll scholar</a>
    and the <a href="https://github.com/poole/hyde">Hyde</a> theme. Great and free inspiration was provided by
    <a href="http://www.robots.ox.ac.uk/~gabb/">gabb</a>, <a href="http://www.robots.ox.ac.uk/~mosb/">mosb</a> and <a href="https://github.com/jwvdm/robots-homepage">jwvdm</a>.
</p>


<!--

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
